* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.page1 {
    width: 100%;
    height: 100%;

}

body {
    background-color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
}

#box1 {
    height: 150px;
    width: 150px;
    background-color: crimson;
}

#box2 {
    height: 150px;
    width: 150px;
    background-color: blueviolet;
}

.text {
    height: 88.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.text h1 {
    text-align: center;
    font-size: 2rem;
    align-items: center;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
}

.nav {
    display: flex;
    gap: 35px;
    padding: 15px 20px;
    font-size: 18px;
}

.page2 {
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3 {
    height: 100%;
    width: 100%;
    background-color: darkorchid;
    padding-top: 25px;
    padding-bottom: 25px;
}

.page3 h1 {
    font-size: 40vw;
    text-transform: uppercase;
}


.page4 {
    height: 100%;
    width: 100%;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box {
    height: 150px;
    width: 150px;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}